# Db
DB__POSTGRES_USER=dev
DB__POSTGRES_PASSWORD=pass
DB__POSTGRES_DB=devdb

# OpenId
OPENID__CLIENT_NAME=keycloak
OPENID__CLIENT_ID=door-access-app
OPENID__CLIENT_SECRET=ImwgMhRUkdAxpzyxqbklwMncSm1JQPjJ
OPENID__AUTH_URL='https://auth.buk.cvut.cz/realms/buk.cvut.cz/protocol/openid-connect/auth?scope=openid roles'
OPENID__TOKEN_URL=https://auth.buk.cvut.cz/realms/buk.cvut.cz/protocol/openid-connect/token
OPENID__METADATA_URL=https://auth.buk.cvut.cz/realms/buk.cvut.cz/.well-known/openid-configuration
